[project]
	description = Staggeringly powerful OS X desktop automation with Lua
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chris Jones (cmsj)
[access "refs/for/refs/*"]
	read = group user/Chris Jones (cmsj)
	push = group user/Chris Jones (cmsj)
	label-Code-Review = -2..+2 group user/Chris Jones (cmsj)
	label-Verified = -1..+1 group user/Chris Jones (cmsj)
	rebase = group user/Chris Jones (cmsj)
	removeReviewer = group user/Chris Jones (cmsj)
	submit = group user/Chris Jones (cmsj)
[access "refs/heads/*"]
	read = group user/Chris Jones (cmsj)
	create = group user/Chris Jones (cmsj)
	push = +force group user/Chris Jones (cmsj)
	pushMerge = group user/Chris Jones (cmsj)
[access "refs/tags/*"]
	push = +force group user/Chris Jones (cmsj)
	pushTag = group user/Chris Jones (cmsj)
	pushSignedTag = group user/Chris Jones (cmsj)
