// General module Shared build settings

CLANG_ANALYZER_DEADCODE_DEADSTORES = NO
CLANG_WARN_UNREACHABLE_CODE = YES_AGGRESSIVE
COMBINE_HIDPI_IMAGES = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
EXECUTABLE_PREFIX = lib
MACOSX_DEPLOYMENT_TARGET = 10.8
PRODUCT_NAME = $(TARGET_NAME)
STRIP_INSTALLED_PRODUCT = NO

