<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application</key>
	<dict>
		<key>color index</key>
		<integer>10</integer>
		<key>commands</key>
		<array>
			<string>Quit</string>
			<string>HideApplication</string>
			<string>HideOtherApplications</string>
			<string>KeyboardCustomization</string>
			<string>ShowPreferences</string>
			<string>Minimize</string>
			<string>UndoChanges</string>
			<string>RedoChanges</string>
		</array>
	</dict>
	<key>Editing</key>
	<dict>
		<key>color index</key>
		<integer>4</integer>
		<key>commands</key>
		<array>
			<string>Copy</string>
			<string>Cut</string>
			<string>Paste</string>
			<string>PasteAsConnected</string>
			<string>DeselectAll</string>
			<string>SelectAll</string>
			<string>SelectClipAtPlayhead</string>
			<string>Delete</string>
			<string>DeleteSelectionOnly</string>
			<string>ReplaceWithGap</string>
			<string>DuplicateFromOriginal</string>
			<string>BreakApartClipItems</string>
			<string>MakeIndependent</string>
			<string>OpenInTimeline</string>
			<string>ExtendDown</string>
			<string>ExtendUp</string>
			<string>FinalizePick</string>
			<string>SelectNextVariant</string>
			<string>SelectPreviousVariant</string>
			<string>SelectNextAngle</string>
			<string>SelectNextAudioAngle</string>
			<string>SelectNextVideoAngle</string>
			<string>SelectPreviousAngle</string>
			<string>SelectPreviousAudioAngle</string>
			<string>SelectPreviousVideoAngle</string>
			<string>SwitchAngle01</string>
			<string>SwitchAngle02</string>
			<string>SwitchAngle03</string>
			<string>SwitchAngle04</string>
			<string>SwitchAngle05</string>
			<string>SwitchAngle06</string>
			<string>SwitchAngle07</string>
			<string>SwitchAngle08</string>
			<string>SwitchAngle09</string>
			<string>SwitchAngle10</string>
			<string>SwitchAngle11</string>
			<string>SwitchAngle12</string>
			<string>SwitchAngle13</string>
			<string>SwitchAngle14</string>
			<string>SwitchAngle15</string>
			<string>SwitchAngle16</string>
			<string>CutSwitchAngle01</string>
			<string>CutSwitchAngle02</string>
			<string>CutSwitchAngle03</string>
			<string>CutSwitchAngle04</string>
			<string>CutSwitchAngle05</string>
			<string>CutSwitchAngle06</string>
			<string>CutSwitchAngle07</string>
			<string>CutSwitchAngle08</string>
			<string>CutSwitchAngle09</string>
			<string>CutSwitchAngle10</string>
			<string>CutSwitchAngle11</string>
			<string>CutSwitchAngle12</string>
			<string>CutSwitchAngle13</string>
			<string>CutSwitchAngle14</string>
			<string>CutSwitchAngle15</string>
			<string>CutSwitchAngle16</string>
			<string>ToggleStackHUD</string>
			<string>NewVariantFromCurrentInSelection</string>
			<string>ReplaceAndAddToAudition</string>
			<string>AddToAudition</string>
			<string>AuditionCopiedEffects</string>
			<string>AVEditModeBoth</string>
			<string>AVEditModeAudio</string>
			<string>AVEditModeVideo</string>
			<string>ToggleAnchoredSpinesMode</string>
			<string>CollapseSelectionIntoVariant</string>
			<string>CreateCompoundClip</string>
			<string>CreateMultiAngleClip</string>
			<string>AudioFineSyncMultiAngleAngle</string>
			<string>AudioSyncMultiAngleItems</string>
			<string>Duplicate</string>
			<string>BladeAtPlayhead</string>
			<string>JoinClip</string>
			<string>BladeAll</string>
			<string>FreezeFrame</string>
			<string>TrimStart</string>
			<string>TrimEnd</string>
			<string>TrimToPlayhead</string>
			<string>ExtendEdit</string>
			<string>TrimSelection</string>
			<string>InsertMedia</string>
			<string>InsertMediaAudio</string>
			<string>InsertMediaVideo</string>
			<string>InsertPlaceholder</string>
			<string>InsertGap</string>
			<string>OverwriteWithSelectedMedia</string>
			<string>OverwriteWithSelectedMediaAudio</string>
			<string>OverwriteWithSelectedMediaVideo</string>
			<string>OverwriteWithSelectedMediaBacktimed</string>
			<string>OverwriteWithSelectedMediaAudioBacktimed</string>
			<string>OverwriteWithSelectedMediaVideoBacktimed</string>
			<string>CollapseToSpine</string>
			<string>LiftFromSpine</string>
			<string>ReplaceWithSelectedMediaWhole</string>
			<string>ReplaceWithSelectedMediaFromStart</string>
			<string>ReplaceWithSelectedMediaFromEnd</string>
			<string>AppendWithSelectedMedia</string>
			<string>AppendWithSelectedMediaAudio</string>
			<string>AppendWithSelectedMediaVideo</string>
			<string>AnchorWithSelectedMedia</string>
			<string>AnchorWithSelectedMediaAudio</string>
			<string>AnchorWithSelectedMediaVideo</string>
			<string>AnchorWithSelectedMediaBacktimed</string>
			<string>AnchorWithSelectedMediaAudioBacktimed</string>
			<string>AnchorWithSelectedMediaVideoBacktimed</string>
			<string>NudgeLeft</string>
			<string>NudgeLeftMany</string>
			<string>NudgeRight</string>
			<string>NudgeRightMany</string>
			<string>NudgeUp</string>
			<string>NudgeDown</string>
			<string>NudgeLeftAudio</string>
			<string>NudgeLeftAudioMany</string>
			<string>NudgeRightAudio</string>
			<string>NudgeRightAudioMany</string>
			<string>ToggleSnapping</string>
			<string>ToggleOverrideConnections</string>
			<string>EnableOrDisableEdit</string>
			<string>VolumeUp</string>
			<string>VolumeDown</string>
			<string>VolumeZero</string>
			<string>VolumeMinusInfinity</string>
			<string>Solo</string>
			<string>AddToSoloed</string>
			<string>ShowAVSplit</string>
			<string>ShowAVSplitsAll</string>
			<string>ShowAVSplitsEdited</string>
			<string>HideAVSplitsAll</string>
			<string>ClearAVSplit</string>
			<string>ToggleAudioComponents</string>
			<string>SelectLeftEdge</string>
			<string>SelectRightEdge</string>
			<string>SelectLeftRightEdge</string>
			<string>SelectLeftEdgeAudio</string>
			<string>SelectRightEdgeAudio</string>
			<string>SelectLeftRightEdgeAudio</string>
			<string>TogglePrecisionEditor</string>
			<string>ShowTimecodeEntryDuration</string>
			<string>ShowTimecodeEntryPlayhead</string>
			<string>CreateConnectedStoryline</string>
		</array>
	</dict>
	<key>Effects</key>
	<dict>
		<key>color index</key>
		<integer>1</integer>
		<key>commands</key>
		<array>
			<string>CopyAttributes</string>
			<string>PasteAllAttributes</string>
			<string>PasteSomeAttributes</string>
			<string>AddTransition</string>
			<string>AddDefaultVideoEffect</string>
			<string>AddDefaultAudioEffect</string>
			<string>AddBasicTitle</string>
			<string>AddBasicLowerThird</string>
			<string>ColorBoard-SwitchToExposureTab</string>
			<string>ColorBoard-SwitchToSaturationTab</string>
			<string>ColorBoard-SwitchToColorTab</string>
			<string>ColorBoard-SelectPreviousPuck</string>
			<string>ColorBoard-SelectNextPuck</string>
			<string>ColorBoard-NudgePuckUp</string>
			<string>ColorBoard-NudgePuckDown</string>
			<string>ColorBoard-NudgePuckLeft</string>
			<string>ColorBoard-NudgePuckRight</string>
			<string>ColorBoard-ResetSelectedPuck</string>
			<string>ColorBoard-ResetPucksOnCurrentBoard</string>
			<string>ColorBoard-ResetAllPucks</string>
			<string>ColorBoard-ToggleCorrectionOff</string>
			<string>SetCorrectionFromEdit-Back-1</string>
			<string>SetCorrectionFromEdit-Back-2</string>
			<string>SetCorrectionFromEdit-Back-3</string>
			<string>MatchAudio</string>
			<string>ToggleColorBalance</string>
			<string>ToggleMatchColor</string>
			<string>RetimeSlow50</string>
			<string>RetimeSlow25</string>
			<string>RetimeSlow10</string>
			<string>RetimeFast2x</string>
			<string>RetimeFast4x</string>
			<string>RetimeFast8x</string>
			<string>RetimeReverseClip</string>
			<string>RetimeSpeedRampToZero</string>
			<string>RetimeSpeedRampFromZero</string>
			<string>RetimeInstantReplay</string>
			<string>RetimeConformSpeed</string>
			<string>RetimeRewind1x</string>
			<string>RetimeRewind2x</string>
			<string>RetimeRewind4x</string>
			<string>RetimeVideoQualityNormal</string>
			<string>RetimeVideoQualityFrameBlending</string>
			<string>RetimeVideoQualityOpticalFlow</string>
			<string>RetimeReset</string>
			<string>RetimeHold</string>
			<string>RetimeCreateSegment</string>
			<string>ShowRetimeEditor</string>
			<string>CollapseAnimations</string>
		</array>
	</dict>
	<key>General</key>
	<dict>
		<key>color index</key>
		<integer>3</integer>
		<key>commands</key>
		<array>
			<string>RevealInFinder</string>
			<string>ProjectInfo</string>
			<string>Import</string>
			<string>ReImportFilesFromCamera</string>
			<string>NewProject</string>
			<string>Delete</string>
			<string>PurgeRenderFiles</string>
			<string>Find</string>
			<string>FindAndReplaceTitleText</string>
			<string>MoveToTrash</string>
			<string>RenderAll</string>
			<string>RenderSelection</string>
			<string>TranscodeMedia</string>
			<string>ModifyContentCreationDate</string>
			<string>ConsolidateFiles</string>
			<string>ExportXML</string>
			<string>ImportXML</string>
			<string>RelinkFiles</string>
		</array>
	</dict>
	<key>Marking</key>
	<dict>
		<key>color index</key>
		<integer>3</integer>
		<key>commands</key>
		<array>
			<string>OrderFrontKeywordEditor</string>
			<string>AddKeywordGroup1</string>
			<string>AddKeywordGroup2</string>
			<string>AddKeywordGroup3</string>
			<string>AddKeywordGroup4</string>
			<string>AddKeywordGroup5</string>
			<string>AddKeywordGroup6</string>
			<string>AddKeywordGroup7</string>
			<string>AddKeywordGroup8</string>
			<string>AddKeywordGroup9</string>
			<string>Favorite</string>
			<string>Unfavorite</string>
			<string>Reject</string>
			<string>AddAndEditMarker</string>
			<string>AddToDoMarker</string>
			<string>AddChapterMarker</string>
			<string>AddMarker</string>
			<string>ClearSelectionStart</string>
			<string>ClearSelectionEnd</string>
			<string>SetSelectionStart</string>
			<string>SetSelectionEnd</string>
			<string>AddNewSelectionStart</string>
			<string>AddNewSelectionEnd</string>
			<string>NewKeyword</string>
			<string>DeleteMarker</string>
			<string>DeleteMarkersInSelection</string>
			<string>DeselectAll</string>
			<string>NewKeyword</string>
			<string>NewSmartCollection</string>
			<string>SelectToolRangeSelection</string>
			<string>RemoveAllKeywordsFromSelection</string>
			<string>SelectAll</string>
			<string>SelectClip</string>
			<string>ShowMarkedRanges</string>
			<string>EditRoles</string>
			<string>SetRoleVideo</string>
			<string>SetRoleTitles</string>
			<string>SetRoleDialogue</string>
			<string>SetRoleMusic</string>
			<string>SetRoleEffects</string>
		</array>
	</dict>
	<key>Organization</key>
	<dict>
		<key>color index</key>
		<integer>3</integer>
		<key>commands</key>
		<array>
			<string>NewEvent</string>
			<string>NewFolder</string>
			<string>EditSmartCollection</string>
			<string>SynchronizeClips</string>
			<string>AnalyzeAndFix</string>
			<string>MergeEvents</string>
			<string>RevealInEventsBrowser</string>
			<string>RevealProjectInEventsBrowser</string>
		</array>
	</dict>
	<key>Playback/Navigation</key>
	<dict>
		<key>color index</key>
		<integer>6</integer>
		<key>commands</key>
		<array>
			<string>ToggleAudioScrubbing</string>
			<string>AuditionSelected</string>
			<string>Down</string>
			<string>JumpForward10Frames</string>
			<string>JumpBackward10Frames</string>
			<string>JogForward</string>
			<string>SelectPreviousTimelineItem</string>
			<string>SelectNextTimelineItem</string>
			<string>NextEdit</string>
			<string>PreviousEdit</string>
			<string>JumpToNextFrame</string>
			<string>JumpToNextField</string>
			<string>JumpToNextSubframe</string>
			<string>JumpToPreviousFrame</string>
			<string>JumpToPreviousField</string>
			<string>JumpToPreviousSubframe</string>
			<string>JogBackward</string>
			<string>GotoIn</string>
			<string>GotoOut</string>
			<string>JumpToStart</string>
			<string>LoopPlayback</string>
			<string>NextClip</string>
			<string>PreviousClip</string>
			<string>NextMarker</string>
			<string>PreviousMarker</string>
			<string>PlayAroundCurrentFrame</string>
			<string>PlayFromBeginningOfClip</string>
			<string>PlayReverse</string>
			<string>PlayToOut</string>
			<string>PlaySelected</string>
			<string>PlayRate1X</string>
			<string>PlayRate2X</string>
			<string>PlayRate4X</string>
			<string>PlayRate8X</string>
			<string>PlayRate16X</string>
			<string>PlayRate32X</string>
			<string>PlayRateMinus1X</string>
			<string>PlayRateMinus2X</string>
			<string>PlayRateMinus4X</string>
			<string>PlayRateMinus8X</string>
			<string>PlayRateMinus16X</string>
			<string>PlayRateMinus32X</string>
			<string>PlayFromAlternatePlayhead</string>
			<string>PlayPause</string>
			<string>PlayFullscreen</string>
			<string>ExitFullScreen</string>
			<string>ShowTimecodeEntryMinusDelta</string>
			<string>ShowTimecodeEntryPlusDelta</string>
			<string>Stop</string>
			<string>Up</string>
			<string>SelectPreviousAngleBank</string>
			<string>SelectNextAngleBank</string>
			<string>MultiAngleEditStyleAudioVideo</string>
			<string>MultiAngleEditStyleAudio</string>
			<string>MultiAngleEditStyleVideo</string>
			<string>MultiAngleVideoSetUsingSkimmedObject</string>
			<string>MultiAngleAddAudioUsingSkimmedObject</string>
		</array>
	</dict>
	<key>Share</key>
	<dict>
		<key>color index</key>
		<integer>5</integer>
		<key>commands</key>
		<array>
			<string>SendToCompressor</string>
			<string>ShareDefaultDestination</string>
		</array>
	</dict>
	<key>Tools</key>
	<dict>
		<key>color index</key>
		<integer>2</integer>
		<key>commands</key>
		<array>
			<string>SelectToolArrowOrRangeSelection</string>
			<string>SelectToolBlade</string>
			<string>SelectToolPlacement</string>
			<string>SelectToolTrim</string>
			<string>SelectToolHand</string>
			<string>SelectToolZoom</string>
			<string>SelectCropTool</string>
			<string>SelectDistortTool</string>
			<string>SelectTransformTool</string>
		</array>
	</dict>
	<key>View</key>
	<dict>
		<key>color index</key>
		<integer>0</integer>
		<key>commands</key>
		<array>
			<string>ToggleShowTimelineItemTitles</string>
			<string>ZoomIn</string>
			<string>ZoomOut</string>
			<string>ShowMoreFilmstripFrames</string>
			<string>ShowFewerFilmstripFrames</string>
			<string>ShowOneFramePerFilmstrip</string>
			<string>IncreaseThumbnailSize</string>
			<string>DecreaseThumbnailSize</string>
			<string>ZoomIn</string>
			<string>ZoomOut</string>
			<string>ZoomToFit</string>
			<string>ZoomToSubframes</string>
			<string>ShowAudioCurveEditor</string>
			<string>ShowCurveEditor</string>
			<string>ShowSkimmerInfo</string>
			<string>ShowColorChannelsAll</string>
			<string>ShowColorChannelsAlpha</string>
			<string>ShowColorChannelsRed</string>
			<string>ShowColorChannelsGreen</string>
			<string>ShowColorChannelsBlue</string>
			<string>ShowEventsAsFilmstrip</string>
			<string>ShowEventsAsList</string>
			<string>ClipAppearanceTitleOnly</string>
			<string>ClipAppearanceAudioOnly</string>
			<string>ClipAppearanceAudioMostly</string>
			<string>ClipAppearance5050</string>
			<string>ClipAppearanceVideoMostly</string>
			<string>ClipAppearanceVideoOnly</string>
			<string>ClipAppearanceAudioBigger</string>
			<string>ClipAppearanceAudioSmaller</string>
		</array>
	</dict>
	<key>Windows</key>
	<dict>
		<key>color index</key>
		<integer>7</integer>
		<key>commands</key>
		<array>
			<string>GoToInspector</string>
			<string>ToggleInspector</string>
			<string>GoToOrganizer</string>
			<string>GoToViewer</string>
			<string>ToggleEventViewer</string>
			<string>GoToTimeline</string>
			<string>GoToColorBoard</string>
			<string>GoToAudioCleanup</string>
			<string>ToggleFullScreenViewer</string>
			<string>ToggleFullScreenEvents</string>
			<string>ToggleEventsLibrary</string>
			<string>ToggleOrganizer</string>
			<string>GoToBackgroundTasks</string>
			<string>GoToVoiceoverRecordView</string>
			<string>SetDisplayBroadcastSafe</string>
			<string>ToggleMediaBrowser</string>
			<string>ToggleMediaGeneratorsBrowser</string>
			<string>ToggleMediaSoundBrowser</string>
			<string>ToggleMediaTitlesBrowser</string>
			<string>ToggleMediaThemesBrowser</string>
			<string>ShowMultiangleViewer</string>
			<string>ToggleVideoScopes</string>
			<string>ToggleKeywordEditor</string>
			<string>ToggleDataList</string>
			<string>ToggleHistogram</string>
			<string>ToggleVectorscope</string>
			<string>ToggleWaveform</string>
			<string>ToggleAudioMeter</string>
			<string>ToggleDataList</string>
			<string>SelectNextTab</string>
			<string>SelectPreviousTab</string>
			<string>ResetWindowLayout</string>
		</array>
	</dict>
</dict>
</plist>
