<html>
  <head>
    <title>Hammerspoon docs</title>
    <style type="text/css">
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
      th, td { border: 1px solid #ccc; padding: 5px 10px; }
    </style>
  </head>
  <body>
    <header>
      <h1>Hammerspoon.app</h1>
    </header>
    <section>
      <%= content %>
    </section>
  </body>
</html>
