<html>
  <head>
    <title>Hammerspoon docs</title>
    <style type="text/css">
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
      th, td { border: 1px solid #ccc; padding: 5px 10px; }
    </style>
  </head>
  <body>
    <header>
      <h1>Hammerspoon.app</h1>
    </header>
    <section>
      <%= content %>
      </section>
    <section>
    <!-- tables suck., I know, but it's fast to code -->
    <table><tr><td valign="top">Documented modules</td><td valign="top">
      <ul>
        <% docmods.each do |mod| %>
          <li><a href="<%= mod['name'] %>.html"><%= mod['name'] %></a></li>
        <% end %>
      </ul>
    </td></tr></table>
    </section>
  </body>
</html>
