* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#modules {
    position: fixed;
    float: left;
    width: 200px;
    height: 100%;
    background-color: #1570A6;
}

#modules ul {
    padding-left: 0px;
    list-style-type: none;
    overflow: hidden;
}

#modules li {
    padding-left: 20px;
}

#modules ul ul li {
    background-color: #267FB3;
    padding-left: 40px;
}

#modules ul ul {
    padding-top: 5px;
    padding-bottom: 5px;
}

#modules ul ul li:first-child {
    border-top: 1px solid #0C5681;
    padding-top: 5px;
}

#modules ul ul li:last-child {
    border-bottom: 1px solid #0C5681;
    padding-bottom: 5px;
}

#modules a {
    color: #ddd;
}

#modules a:hover {
    color: #fff;
}

#module {
    margin-left: 200px;
    padding-top: 20px;
}

#module > * {
    padding-left: 40px;
    padding-right: 40px;
}

#module > header {
    padding-bottom: 50px;
}

section {
    border-top: 1px solid #777;
    padding-bottom: 20px;
}

section:last-child {
    border-bottom: 1px solid #777;
}

section:target {
    background-color: #F3F3DE;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px 20px;
}

p {
    max-width: 600px;
}
