<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>html</string>
				<string>htm</string>
				<string>shtml</string>
				<string>jhtml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>html.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/html</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>HTML document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>HTML</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>HTML</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>BrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>txt.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Plain text document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>TXT</string>
			<key>NSDocumentClass</key>
			<string>BrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>url</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>url.icns</string>
			<key>CFBundleTypeName</key>
			<string>Web site location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LINK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>BrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xhtml</string>
				<string>xht</string>
				<string>xhtm</string>
				<string>xht</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xhtml.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/xhtml+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XHTML document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>XHTML</string>
			<key>NSDocumentClass</key>
			<string>BrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpPlugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cpPlugin</string>
			<key>CFBundleTypeMIMETypes</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>CommandPost Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.latenitefilms.CommandPost.cpPlugin</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>NSDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>CommandPost</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>org.latenitefilms.CommandPost</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>commandpost</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.latenitefilms.CommandPost.http</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.latenitefilms.CommandPost.https</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.latenitefilms.CommandPost.mailto</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mailto</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6908</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSAppSleepDisabled</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>CommandPost needs to send events to automate applications.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Some CommandPost extensions require access to the camera.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright Chris Hocking &amp; David Peterson 2017-2021. Released under MIT license.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Some CommandPost extensions (such as hs.location) require access to your location.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Some CommandPost extensions (such as hs.noises) require access to the microphone.</string>
	<key>NSPrincipalClass</key>
	<string>SentryCrashExceptionApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Send to CommandPost</string>
			</dict>
			<key>NSMessage</key>
			<string>processDockIconDraggedText</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Send to CommandPost</string>
			</dict>
			<key>NSMessage</key>
			<string>processDockIconDraggedFile</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>OSAScriptingDefinition</key>
	<string>CommandPost.sdef</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/CommandPost/CommandPost/develop/appcast/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<integer>900</integer>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost Plugin</string>
			<key>UTTypeIconFile</key>
			<string>cpPlugin</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpPlugin</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpPlugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost HUD Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpHUD</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost. cpHUD</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpHUD</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost Loupedeck Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpLoupedeck</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost. cpLoupedeck</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpLoupedeck</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost Loupedeck CT Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpLoupedeckCT</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpLoupedeckCT</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpLoupedeckCT</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost Loupedeck Live Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpLoupedeckLive</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpLoupedeckLive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpLoupedeckLive</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost Loupedeck+ Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpLoupedeckPlus</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpLoupedeckPlus</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpLoupedeckPlus</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost MIDI Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpMIDI</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpMIDI</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpMIDI</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPots Monogram Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpMonogram</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpMonogram</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpMonogram</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost Pasteboard Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpPasteboard</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpPasteboard</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpPasteboard</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>CommandPost Shortcuts Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpShortcuts</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpShortcuts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpShortcuts</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>CommandPost Snippets Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpSnippets</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpSnippets</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpSnippets</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost Stream Deck Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpStreamDeck</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpStreamDeck</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpStreamDeck</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost Tangent Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpTangent</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpTangent</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpTangent</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost Touch Bar Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpTouchBar</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpTouchBar</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpTouchBar</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost TourBox Preferences</string>
			<key>UTTypeIconFile</key>
			<string>cpTourBox</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpTourBox</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpTourBox</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CommandPost Cache File</string>
			<key>UTTypeIconFile</key>
			<string>cpCache</string>
			<key>UTTypeIdentifier</key>
			<string>org.latenitefilms.CommandPost.cpCache</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cpCache</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
