<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>html</string>
				<string>htm</string>
				<string>shtml</string>
				<string>jhtml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>html.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/html</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>HTML document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>HTML</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>HTML</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>BrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>txt.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Plain text document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>TXT</string>
			<key>NSDocumentClass</key>
			<string>BrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>url</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>url.icns</string>
			<key>CFBundleTypeName</key>
			<string>Web site location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LINK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>BrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xhtml</string>
				<string>xht</string>
				<string>xhtm</string>
				<string>xht</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xhtml.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/xhtml+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XHTML document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>XHTML</string>
			<key>NSDocumentClass</key>
			<string>BrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spoon</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Spoon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Hammerspoon Module</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.hammerspoon.Hammerspoon.Spoon</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>NSDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Hammerspoon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.76</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>org.hammerspoon.Hammerspoon</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hammerspoon</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>hammerspoon.Hammerspoon.http</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>hammerspoon.Hammerspoon.https</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.9.76</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>a9a43ddffec0ebfb007388756dfd662a9c153188</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSAppSleepDisabled</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Hammerspoon needs to send events to automate applications.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Released under MIT license.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Send to Hammerspoon</string>
			</dict>
			<key>NSMessage</key>
			<string>processDockIconDraggedText</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Send to Hammerspoon</string>
			</dict>
			<key>NSMessage</key>
			<string>processDockIconDraggedFile</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>OSAScriptingDefinition</key>
	<string>Hammerspoon.sdef</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Hammerspoon/hammerspoon/master/appcast.xml</string>
	<key>SUScheduledCheckInterval</key>
	<integer>21600</integer>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>Spoon</string>
			<key>UTTypeIdentifier</key>
			<string>org.hammerspoon.Hammerspoon.Spoon</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.hammerspoon.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>spoon</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
