<html>
  <head>
    <title>Hammerspoon docs</title>
    <style type="text/css">
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
      th, td { border: 1px solid #ccc; padding: 5px 10px; text-align: left; vertical-align: top; }
    </style>
  </head>
  <body>
    <header>
      <h1>Hammerspoon.app</h1>
    </header>
    <section>
      <%= content %>
      </section>
    <section>
    <!-- tables suck., I know, but it's fast to code -->
    <h3>Documented modules</h3>
    <table>
        <% docmods.each do |mod| %>
            <tr>
                <th><a href="<%= mod['name']%>.html"><%= mod['name'] %></a></th>
                <td><%= GitHub::Markdown.render_gfm(mod['desc']) %></td>
            </tr>
        <% end %>
    </table>
    </section>
  </body>
</html>
