<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ExtensionIcon</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.FinalCut.WorkflowExtension</string>
		<key>ProExtensionPrincipalViewControllerClass</key>
		<string>CommandPostViewController</string>
		<key>ProExtensionAttributes</key>
		<dict>
			<key>ContentViewMinimumWidth</key>
			<integer>0</integer>
			<key>ContentViewMinimumHeight</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
